# CMake files
cmake-build-debug/

# JB Clion files
.idea/

# Latex compiled files
_minted-*
*.bbl
*.blg
*.lol
*.dvi
*.fdb_latexmk
*.fls
*.aux
*.lof
*.log
*.out
*.gz
*.toc
*.lot

## C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

# Manual build directory
build/

# NPM/Yarn dependencies
node_modules/
yarn.lock
